#header {
	background-color: #DC830F;
	color: white;
	text-align: center;
	padding: 10px;
}

a {
	text-decoration: none;
	color: #FF4501;
}

h1 {
	margin: 0;
}

body {
	background-color: #FFFFFF;
}

#container {
	background-color: #DF98E0;
	margin-left: auto;
	margin-right: auto;
	width: 800px;
}

#content {
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
}

#nac ul {
	list-style-type: none;
	padding: 0;
}

#nav {
	width: 180px;
	float: left;
}

#main{
	width: 600px;
	float: right;
}

.selected {
	font-weight: bold;
}

#footer {
	clear: both;
	padding: 10px;
	background-color: #FFF300;
	color: #FF0000;
	text-align: right;
}
